<%= form_for @reservation do |r| %>
  <p>
    <%= r.label :Room %><br>
    <%= r.text_field :roomRes %>
  </p>

  <p>
    <%= r.label :Date %><br>Exp.01/01/2016<br>
    <%= r.text_field :time %>
  </p>
 
  <p>
    <%= r.submit %>
  </p>
<% end %>