<h1>Hotel</h1>

<p>
	<%= link_to 'Check In', new_room_path(@room) %> 
</p>



<table>
  <tr>
    <th>Rooms</th>
  </tr>
 
  <% @room.each do |room| %>
    <tr>
      <td><%= room.room %></td>
      <td><%= link_to 'Show', room_path(room) %></td>
      <td><%= link_to 'Edit', edit_room_path(room) %></td>
      <td><%= link_to 'Delete', room_path(room),method: :delete %></td>
    </tr>
  <% end %>
</table>

